<div class="row partial-wrapper">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <form name="forms.action">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group pull-left">
                            <label for="text">Texto</label>
                            <input type="text" class="form-control" id="text" name="text" ng-required="true" ng-maxlength="30" ng-model="action.text" />

                            <div ng-messages="forms.action.text.$error" style="color:red" ng-if="forms.action.$dirty">
                                <div ng-message="required">Campo obrigatório</div>
                                <div ng-message="maxlength">Título deve ter no máxima 30 caracteres</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Atributos Requeridos</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                 <div class="form-group">
                                    <label for="health">Vida</label>
                                    <input type="number" class="form-control" id="health" min="1" ng-model="requiredAttributes.health" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="strength">Força</label>
                                    <input type="number" class="form-control" id="strength" min="1" ng-model="requiredAttributes.strength" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="agility">Agilidade</label>
                                    <input type="number" class="form-control" id="agility" min="1" ng-model="requiredAttributes.agility" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="intelligence">Inteligência</label>
                                    <input type="number" class="form-control" id="intelligence" min="1" ng-model="requiredAttributes.intelligence" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12">
                                <item-requirement-panel available-items="story.items" req-items="action.require_items" ng-show="action.action_id"></item-requirement-panel>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <event-panel events="action.events" context="'Action'" available-scenes="story.scenes" available-items="story.items" ng-show="action.action_id"></event-panel>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row footer">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="form-group pull-left">
                <button class="btn btn-danger" ng-click="back()">Cancelar</button>
                <button class="btn btn-success" ng-click="submit()">Salvar</button>
            </div>
        </div>
    </div>
</div>