<div class="row partial-wrapper">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-4">
                    <form>
                        <div class="form-group">
                            <label for="title">Titulo</label>
                            <input type="text" ng-model="scene.title" class="form-control" id="title" placeholder="Título">
                        </div>
                        <div class="form-group">
                            <label for="text">Texto</label>
                            <textarea ng-model="scene.text" style="height: 200px;" class="form-control" id="text" placeholder="Texto"></textarea>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <action-panel actions="scene.actions"></action-panel>
                </div>
                <div class="col-lg-4">
                    <event-panel events="scene.on_die_events" context="'Scene'" available-scenes="story.scenes" available-items="story.items"></event-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="form-group pull-left">
                <button class="btn btn-danger" ng-click="back()">Cancelar</button>
                <button class="btn btn-success" ng-click="save()">Salvar</button>
            </div>
        </div>
    </div>
</div>