<div class="row partial-wrapper">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-4">
                    <form name="forms.scene">
                        <div class="form-group">
                            <label for="title">Titulo</label>
                            <input type="text" ng-model="scene.title" class="form-control" id="title" name="title" ng-required="true" ng-maxlength="30" placeholder="Título">

                            <div ng-messages="forms.scene.title.$error" style="color:red" ng-if="forms.scene.$dirty">
                                <div ng-message="required">Campo obrigatório</div>
                                <div ng-message="maxlength">Título deve ter no máxima 30 caracteres</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text">Texto</label>
                            <textarea ng-model="scene.text" style="height: 200px;" class="form-control" id="text" name="text" ng-maxlength="300" placeholder="Texto"></textarea>

                            <div ng-messages="forms.scene.text.$error" style="color:red" ng-if="forms.scene.$dirty">
                                <div ng-message="maxlength">Texto deve ter no máximo 300 caracteres</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <action-panel actions="scene.actions" ng-show="{{!!scene.scene_id}}"></action-panel>
                </div>
                <div class="col-lg-4">
                    <event-panel events="scene.on_die_events" context="'Scene'" available-scenes="story.scenes" available-items="story.items"  ng-show="{{!!scene.scene_id}}"></event-panel>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="form-group pull-left">
                <button class="btn btn-danger" ng-click="back()">Cancelar</button>
                <button class="btn btn-success" ng-click="submit()">Salvar</button>
            </div>
        </div>
    </div>
</div>