<div class="table-responsive"  style="height: 377px;">
    <table class="table">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Texto</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="item in itemsForList">
            <td>
                <img ng-show="item.type == 'QUEST'" src="/img/icons/items/quest.png" alt="{{item.type}}" style="width: 32px; height: 32px;" />
                <img ng-show="item.type == 'INVENTORY'" src="/img/icons/items/inventory.png" alt="{{item.type}}" style="width: 32px; height: 32px;" />
            </td>
            <td>{{item.name | limitTo:20}}...</td>
            <td>{{item.description | limitTo:40}}...</td>
            <td><span class="glyphicon glyphicon-pencil pull-right clickable" ng-click="edit(item.item_id)"></span></td>
            <td><span class="glyphicon glyphicon-trash pull-right clickable" ng-click="remove(item)"></span></td>
        </tr>
        <tr>
            <pagination item-count="totalItems" items-per-page="itemsPerPage" current-page="currentPage" on-page-change="setPage"></pagination>
        </tr>
    </table>
</div>