<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Texto</th>
            <th></th>
        </tr>
        <tr ng-repeat="scene in scenesForList">
            <td>icone</td>
            <td>{{scene.title.pt_br | limitTo:20}}...</td>
            <td>{{scene.text.pt_br | limitTo:40}}...</td>
            <td><span class="glyphicon glyphicon-trash pull-right"></span></td>
        </tr>
        <tr>
            <pagination item-count="totalScenes" items-per-page="scenesPerPage" current-page="currentPage" on-page-change="setPage"></pagination>
        </tr>
    </table>
</div>