html,
body {
    height: 100%;
}

.content {
    height: 100%;
}

.myAlert {
    position: absolute;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: px 0 20px 0 #121213;
    box-shadow: px 0 20px 0 #121213;
}

.container-fluid {
    height: 100%;
}