@font-face {
    font-family: 'open_sanslight';
    src: url('../fontes/opensans-light-webfont.eot');
    src: url('../fontes/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/opensans-light-webfont.woff2') format('woff2'),
         url('../fontes/opensans-light-webfont.woff') format('woff'),
         url('../fontes/opensans-light-webfont.ttf') format('truetype'),
         url('../fontes/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansregular';
    src: url('../fontes/opensans-regular-webfont.eot');
    src: url('../fontes/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/opensans-regular-webfont.woff2') format('woff2'),
         url('../fontes/opensans-regular-webfont.woff') format('woff'),
         url('../fontes/opensans-regular-webfont.ttf') format('truetype'),
         url('../fontes/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html,
body {
    font-family: 'open_sansregular', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.content {
    height: 100%;
}

.container-fluid {
    height: 100%;
    overflow: hidden
}

.ng-scope.ng-active {margin-bottom: 15px}

.myAlert {
    position: absolute;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: px 0 20px 0 #121213;
    box-shadow: px 0 20px 0 #121213;
}

.fa.fa-home {
    font-size: 19px;
    padding-right: 10px;
}

.fa.fa-star {
    padding-right: 10px;
}

.fa.fa-map {
    padding-right: 14px;
}


.panel{
    background-color: #121213;
    height: 100%;
    border-radius: 0; 
    border: none;    
}

    .panel .menu{
        color: #FFFFFF;
    }

    .panel .menu .list-group-item{
        background-color: inherit !important;
        border: none !important;
    }

    .panel .menu .list-group-item a{
        color: #CB9960 !important;
    }

    .panel .col-lg-9{
        height: 100%;
    }
    
.partial-wrapper {
    background-color: #FFFFFF;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

.clickable{
    cursor: pointer
}

.footer {
    position: absolute; 
    bottom: 30px; 
    width: 100%; 
}

.toast{
    margin-top: 20px !important;
}



/** SOBREPOSIÇÃO BOOTSTRAP **/

/** Botões **/
.btn-primary {
  background: #000;
  border: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #c7965e;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #c7965e;
  border-color: #c7965e;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #c7965e;
  border-color: #c7965e;
}

.btn-danger {
  background: #000000;
  border: none;
  padding: 7px 40px;
  font-size: 17px;
}

.btn-success {
  background: #000000;
  border: none;
  padding: 7px 50px;
  font-size: 17px;
}


/** FORMS **/
.form-control {
  display: block;
  width: 100%;
  height: 45px;  
  padding: 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c7965e;
  border-radius: 0;
}

textarea.form-control {
  height: auto;
  height: 170px
}

.form-control:focus {
  border-color: #c7965e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(199, 154, 94, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(199, 154, 94, .6);
}
.form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #000;
}
.form-control::-webkit-input-placeholder {
  color: #000;
}


/** TABS **/
.nav-tabs > li > a {
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}



