.storyList{
    background-color: #FFFFFF;
    height: 100% !important;
}

.card{
    width: 200px;
    height: 240px;
    display: inline-block;
    color: #FFFFFF;
    margin-left: 10px;
    z-index: 1;
}

    .card .header{
        height: 150px;
        background-color: lightgray;
        position: relative;
    }

        .card .header .edit-button{
            position: absolute;
            top: 150px;
            left: 50%;
            margin-top: -20px;
            margin-left: -40px;
            border-radius: 50%;
            border: none;
            width: 40px;
            height: 40px;
            z-index: 3;
            background-color: #FFFFFF;
            color: #CB9960;
        }

        .card .header .remove-button{
            position: absolute;
            top: 150px;
            left: 50%;
            margin-top: -20px;
            margin-left: 0px;
            border-radius: 50%;
            border: none;
            width: 40px;
            height: 40px;
            z-index: 3;
            background-color: #FFFFFF;
            color: #CB9960;
        }

    .card .info{
        height: 90px;
        background-color: #121213;
        text-align: center;
        padding-top: 20px;
        border-top: solid 1px lightgray;
    }

    .card .info-title{
        height: 40px;
        line-height: 40px;
    }

    .card .info-footer{
        height: 11px;
        border-top: groove 1px lightgray ;
        padding-top: 4px;
    }

    .card .info-footer .warning{
        color: #FFCC00;
    }

.object-fit {
  height: 150px;
  width: 100%;
  object-fit: cover;
}