<div class="row partial-wrapper">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Titulo</label>
                                    <input type="text" ng-model="story.title.pt_BR" class="form-control" id="title" placeholder="Título">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="cover">Capa</label>
                                    <input type="text" ng-model="story.cover" class="form-control" id="cover">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="description">Descrição</label>
                                    <textarea ng-model="story.description.pt_BR" class="form-control" id="description" placeholder="Descrição"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success pull-right" ng-click="save()">Salvar</button>
                            </div>
                        </div>
                    </div>    
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <story-tabs scenes="story.scenes" itens="story.itens"></story-tabs>
        </div>
    </div>
    <popover-menu style="position: fixed; bottom: 100px; right: 100px;"></popover-menu>
</div>