<div class="row partial-wrapper">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Cenas">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="scene in story.scenes">
                                <td>icone</td>
                                <td>{{scene.title.pt_BR}}...</td>
                                <td>{{scene.text.pt_BR | limitTo:40}}...</td>
                                <td>data/hora</td>
                                <td>apagar</td>
                            </tr>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Itens">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="item in story.itens">
                                <td>icone</td>
                                <td>{{item.name.pt_BR}}</td>
                                <td>{{item.text.pt_BR}}</td>
                                <td>data/hora</td>
                                <td>apagar</td>
                            </tr>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Criaturas">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="creature in story.creatures">
                                <td>icone</td>
                                <td>{{creature.name.pt_BR}}</td>
                                <td>descricao</td>
                                <td>data/hora</td>
                                <td>apagar</td>
                            </tr>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <popover-menu style="position: fixed; bottom: 100px; right: 100px;"></popover-menu>
</div>